<div class="row" >
<div class="col-md-12">
    <div class="row">
    <div class="navbar">
    	<nav>
    	<div class="col-md-12">
			<div class="col-md-2"><a href="#" ng-click="fetchproducts('BabyCare');"><h4>Baby Care</h4></a></div>
			<div class="col-md-2"><a href="#" ng-click="fetchproducts('Clothing');"><h4>Clothing</h4></a></div>
			<div class="col-md-2"><a href="#" ng-click="fetchproducts('Groceries');"><h4>Groceries</h4></a></div>
			<div class="col-md-2"><a href="#" ng-click="fetchproducts('PersonalCare');"><h4>Personal Care</h4></a></div>
			<div class="col-md-2"><a href="#" ng-click="fetchproducts('Electronics');"><h4>Electronics</h4></a></div>
			<div class="col-md-2"><a href="#" ng-click="fetchproducts('VisualAssistant');"><h4>Visual Assistants</h4></a></div>
			<div class="col-md-2"><a href="#" ng-click="fetchproducts('Checkout');"><h4>Checkout</h4></a></div>
		</div>
		</nav>
    </div>
    </div>
</div>
</div>